webview {
  position: absolute;
  bottom: 0;
  left: 0;
}

button,
input {
  outline: none;
  font-size: 14px;
  line-height: 24px;
  border-radius: 2px;
  padding: 0 6px;
}

button,
input[type="submit"],
button[disabled]:hover {
  border: solid 1px transparent;
  background: transparent;
}

button:hover,
input[type="submit"]:hover {
  border-color: #ccc;
  background: -webkit-linear-gradient(bottom, #cccccc 0%, #f2f2f2 99%);
}

button:active,
input[type="submit"]:active {
  border-color: #bbb;
  background: -webkit-linear-gradient(bottom, #e2e2e2 0%, #bbbbbb 99%);
}

#find-box {
  background-color: #eee;
  border: solid 1px #ccc;
  border-top: solid 1px #eee;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 2px;

  position: fixed;
  top: 0px;
  height: 25px;

  display: none;
}

#find-box #find-form {
  -webkit-flex: 1;
  display: -webkit-flex;
  -webit-flex-direction: row;
}

#find-box button {
  border-radius: 2px;
}

#find-box #find-text {
  border: solid 1px #ccc;
  margin-right: 0px;
  padding: 2px;
  -webkit-box-sizing: border-box;
  -webkit-flex: 1;
}

#find-box {
  right: 5px;
  width: 280px;
  z-index: 2;
}

#find-box #find-text {
  border-right-style: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

#find-box #find-results {
  color: #888;
  background-color: #fff;
  border: solid 1px #ccc;
  border-left-style: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin: 2px 0px;
  padding: 3px 4px 2px 0;
  text-align: center;
}

#find-box #match-case {
  margin: 2px 0px;
  font-size: 10px;
  width: 28px;
}

#find-box #find-backward,
#find-box #find-forward {
  font-size: 14px;
  width: 24px;
}
